.none {
    display: none;
}

.Chat {
    display: flex;
    flex-direction: column;
    width: 300px;
    min-height: 600px;
    margin: 10px;
    border: lightgray solid 0.5px;
    border-radius: 5px;
    background-color: lightblue;
    font-size: x-small;

    // 상단 친구 정보
    .user_info{
        background-color: white;
        border-bottom: lightgray solid 0.5px;
        padding: 10px;
        display: flex;
        flex-direction: row;
        img {
            width: 50px;
            height: 50px;
            object-fit: cover;
            border-radius: 20px;
        }
    }

    // 하단 글 작성 부분
    .send{
        margin-top: auto;
        background-color: white;

        .send_setting {
            display: flex;
            align-items: center;
            background-color: rgb(245, 245, 245);
            padding: 10px;
            border-top: lightgray solid 0.5px;
            border-bottom: lightgray solid 0.5px;
            
            .toggle {
                margin-left: auto;
                margin-top: 3px;
                position: relative;
                display: inline-block;
                width: 35px;
                height: 20px;
                box-shadow: rgb(200, 200, 200) 0px 0px 2px;
                border-radius: 34px;
                input { 
                    opacity: 0;
                    width: 0;
                    height: 0;
                    &:checked + .slider {
                        background-color: #ccc;
                    }
                    
                    &:checked + .slider:before {
                        -webkit-transform: translateX(-12px);
                        -ms-transform: translateX(-12px);
                        transform: translateX(-12px);
                    }
                }
            }
            .slider {
                position: absolute;
                cursor: pointer;
                border-radius: 34px;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: rgb(255, 247, 0);
                -webkit-transition: .4s;
                transition: .4s;
                &:before {
                    position: absolute;
                    content: "";
                    box-shadow: rgb(200, 200, 200) 0px 0px 2px;
                    border-radius: 50%;
                    height: 16px;
                    width: 16px;
                    left: 15px;
                    bottom: 2px;
                    background-color: white;
                    -webkit-transition: .4s;
                    transition: .4s;
                }
            }

            .file-input{
                color: gray;
                &::-webkit-file-upload-button {
                    display: none;
                }
                &::before {
                    content: '📎';
                    display: inline-block;
                    border: none;
                    padding: 0px 8px;
                    outline: none;
                    white-space: nowrap;
                    -webkit-user-select: none;
                    cursor: pointer;
                }
            }
        }

        .send_write {
            height: 80px;
            display: flex;
            align-items: flex-start;
            textarea {
                width: 210px;
                height: 66px;
                border: none; 
                resize: none;
                padding: 7px;
                &:focus{
                    outline: none;
                }
            }
            input {
                width: 78px;
                height: 65px;
                margin: 7px;
                background-color: rgb(245, 245, 245);
                border: solid 1px lightgray;
                border-radius: 5px;
                color: gray;
            }
        }
    }
}

// 중앙
ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
}
li {
    display: flex;
    &.user {
        flex-direction: row-reverse;
    }
}
// 말풍선 
.bubble {
    padding: 8px 12px;
    margin: 5px;
    border-radius: 5px;
}
// 메세지 전송 시간
.time {
    margin-top: auto;
    margin-bottom: 5px;
    font-size: 0.5rem;
    color: rgb(31, 31, 31);
}
// 내가 보낸 톡
.user{
    .pic{
        display: none;
    }
    .blank_pic{
        display: none;
    }
    .name{
        display: none;
    } 
    .texts{
        display: flex;
        flex-direction: column;
        .bubble_time{
            display: flex;
            flex-direction: row-reverse;
        }
        .bubble{
            background-color: rgb(255, 247, 0);
    }
    }
}
// 친구가 보낸 톡
.friend{
    display: flex;
    flex-direction: row;
    .pic{
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 16px;
        margin: 5px;
    }
    .blank_pic{
        width: 40px;
        opacity: 0;
        margin: 5px;
    }
    .texts{
        display: flex;
        flex-direction: column;
        .bubble_time{
            display: flex;
            flex-direction: row;
        }
        .bubble{
            background-color: white;
        }
    }
}

.chat_pic {
    width: 160px;
    padding-top: 4px;
}




